* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Ubuntu', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 14%;
}
.container {
  background: rgb(23, 151, 202);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
.col {
  display: flex;
  width: 50%;
  height: 50%;
}
.card {
  width: 100%;
  max-width: 250px;
  height: 90%;
  background: #fff;
  margin: 10px;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}
